<!DOCTYPE HTML>
<html>

<head>
    <link href="/css/video-js.min.css" rel="stylesheet">
    <link href="/css/videojs-chromecast.css" rel="stylesheet">
    <link href="/css/videojs.logobrand.css" rel="stylesheet">
    <link href="/css/videojs-resolution-switcher.css" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>
        AngelThump
    </title>

    <style type="text/css">
        html {
            margin: 0;
            padding: 0;
            background: #000000;
            overflow: hidden;
        }
        #player {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
        }
        .video-js.vjs-playing .vjs-tech {
            pointer-events: none;
        }
        .vjs-fullscreen.vjs-user-inactive {
            cursor: none;
        }
        .video-js .vjs-progress-control {
            visibility: hidden;
        }
        .video-js .vjs-remaining-time-display {
            visibility: hidden;
        }
    </style>

    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-98637299-1', 'auto');
	  ga('send', 'pageview');

	</script>

</head>

<body>

    <video id=player class="video-js vjs-default-skin" autoplay controls preload="auto"></video>
    <script type="text/javascript" src="/js/video.min.js"></script>
    <script type="text/javascript" src="/js/videojs-resolution-switcher.js"></script>
    <script type="text/javascript" src="/js/videojs5-hlsjs-source-handler.js"></script>
    <script type="text/javascript" src="/js/videojs.logobrand.js"></script>
    <script type="text/javascript" src="/js/videojs-persistvolume.js"></script>
    <script type="text/javascript" src="//www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1"></script>
    <script type="text/javascript" src="/js/videojs-chromecast.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.min.js"></script>
    <script type="text/javascript" src="//cdn.rawgit.com/feathersjs/feathers-client/v2.2.0/dist/feathers.js"></script>
    <script type="text/javascript" src="/js/videojs.ga.min.js"></script>

    <script>
        var ifPatreon = false, channel = "<%= username %>", host = 'https://angelthump.com', socket, requestTime = 1000, running = false, lastKnownServer = localStorage.getItem('server');
        if(lastKnownServer == null) {
        	lastKnownServer = 'US-E';
        }
        var sources = [{
            type: "application/x-mpegURL",
            src: "https://nyc2.angelthump.com/hls/" + channel + ".m3u8",
            label: 'US-E'
        }, {
            type: "application/x-mpegURL",
            src: "https://san1.angelthump.com/hls/" + channel + ".m3u8",
            label: 'US-W'
        }, {
            type: "application/x-mpegURL",
            src: "https://ams1.angelthump.com/hls/" + channel + ".m3u8",
            label: 'EU'
        }, {
            type: "application/x-mpegURL",
            src: "https://nyc-patreon.angelthump.com/hls/" + channel + ".m3u8",
            label: 'PATREON'
        },{
            type: "application/x-mpegURL",
            src: "https://sin1.angelthump.com/hls/" + channel + ".m3u8",
            label: 'SINGAPORE'
        },  /*{
            type: "application/x-mpegURL",
            src: "https://cdn.angelthump.com/hls/" + channel + ".m3u8",
            label: 'auto'
        },*/ ];

        var options = {
            errorDisplay: false,
            html5: {
                hlsjsConfig: {
                    debug: false
                }
            },
            chromecast: {
                appId: '50E3A992',
                metadata: {
                    title: channel + 's stream',
                    subtitle: 'subtitle'
                }
            },
            plugins: {
                videoJsResolutionSwitcher: {
                    default: lastKnownServer,
                    dynamicLabel: true
                }
            }
        };

        var player = videojs('player', options, function() {
        	this.ga();
        });
        player.updateSrc(sources);
        player.currentResolution(lastKnownServer);
        connect();

        player.on("pause", function() {
            player.one("play", function() {
                player.updateSrc(sources);
            });
        });

        player.on("resolutionchange", function() {
            if (player.currentResolution().label == 'PATREON') {
                checkPatreon();
            } else {
            	lastKnownServer = player.currentResolution().label;
            	localStorage.setItem('server', lastKnownServer);
            }
        })


        player.poster('https://angelthump.com/assets/default_offline.jpg');

        player.logobrand({
            image: "https://angelthump.com/assets/patreon.png",
            destination: "https://patreon.com/angelthump"
        });

        function retry() {
            setTimeout(function() {
                player.src(sources);

                if (requestTime < 16000) {
                    requestTime = requestTime * 2;
                }

                if (running && player.readyState() == 0) {
                    retry();
                } else {
                    player.loadingSpinner.show();
                }

            }, requestTime);
        }

        player.on('error', function(e) {
            if (player.error().code == 2) {
                player.loadingSpinner.hide();
                player.error(null);
                retry();
            }
        });

        player.persistvolume({
            namespace: "volume"
        });

        function connect() {
            socket = io(host, {
                transports: ['websocket']
            });
            socket.on('connect', function() {
                socket.emit('channel', channel);
            });
        }

        socket.on('reload', function (argUsername) {
        	if(channel.toLowerCase() == argUsername.toLowerCase()) {
        		location.reload();
        	}
		});

		socket.on('redirect', function (argUsername, url) {
        	if(channel.toLowerCase() == argUsername.toLowerCase()) {
        		window.location = url;
        	}
		});

        function checkPatreon() {
            var app = feathers()
                .configure(feathers.socketio(socket))
                .configure(feathers.hooks())
                .configure(feathers.authentication({
                    storage: window.localStorage
                }));
            app.authenticate()
            .then(response => {
                console.log('Authenticated!');
                // By this point your accessToken has been stored in
                // localstorage
                return app.passport.verifyJWT(response.accessToken);
            })
            .then(payload => {
                return app.service('users').get(payload.userId);
            })
            .then(user => {
                app.set('user', user);
                var user = app.get('user');
                ifPatreon = user.patreon;
                if (!ifPatreon) {
                    player.currentResolution(lastKnownServer);
                    alert("You are not a patreon. If you are, please PM Overpowered on the destiny.gg chat or pm me on Patreon");
                }
            })
            .catch(function(error){
                player.currentResolution(lastKnownServer);
                alert("Login @ AngelThump.com to access this patreon server!");
                console.error('Error authenticating!', error);
            });

            // If the transport changes, you have to call authenticate() again.
            socket.io.engine.on('upgrade', function(transport) {
                console.log('transport changed');
                app.authenticate();
            });
        }

    </script>
</body>
</html>