<!DOCTYPE HTML>
<html>

<head>
    <link href="/css/video-js.css" rel="stylesheet">
    <link href="/css/videojs.logobrand.css" rel="stylesheet">
    <link href="/css/videojs-resolution-switcher.css" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico">

  <title>
    AngelThump
  </title>

  <style type="text/css">
  html {
    margin: 0;
    padding: 0;
    background: #000000;
    overflow: hidden;
  }

  #yee {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }

  .video-js.vjs-playing .vjs-tech {
    pointer-events: none;
  }

  .vjs-fullscreen.vjs-user-inactive {
    cursor: none;
  }

  .video-js.vjs-default-skin .vjs-big-play-button { display: none; }


  </style>

</head>

<body>

  <video id=yee class="video-js vjs-default-skin" autoplay controls preload="auto">
</video>
  <script src="/js/video.js"></script>
  <script src="/js/videojs-resolution-switcher.js"></script>
  <script src="/js/videojs5-hlsjs-source-handler.js"></script>
  <script src="/js/videojs.logobrand.js"></script>
  <script src="/js/videojs-persistvolume.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/core-js/2.1.4/core.min.js"></script>
  <script type="text/javascript" src="//unpkg.com/feathers-client@^1.0.0/dist/feathers.js"></script>

  <script>
    var user, ifPatreon = false;
    var channel = "<%= username %>";
    var host = 'https://angelthump.com';
    var socket;

  var sources =
    [
      {type:"application/x-mpegURL", src: "https://nyc-load.angelthump.com/hls/" + channel + ".m3u8", label: 'US-E'},
      {type:"application/x-mpegURL", src: "https://ams-load.angelthump.com/hls/" + channel + ".m3u8", label: 'EU'},
      {type:"application/x-mpegURL", src: "https://nyc-patreon.angelthump.com/hls/" + channel + ".m3u8", label: 'PATREONS'},
      {type:"application/x-mpegURL", src: "https://cdn.angelthump.com/hls/" + channel + ".m3u8", label: 'auto'},
    ];

    var options = {
        html5: {
            hlsjsConfig: {
                debug: false
            }
        },
        plugins: {
        videoJsResolutionSwitcher: {
          default: 'auto',
          dynamicLabel: true
        }
      }        
    };

    var player = videojs('yee', options);
    player.updateSrc(sources);
    player.currentResolution("auto");
    connect();

    player.on("pause", function () {
      player.one("play", function () {
        player.updateSrc(sources);
      });
    });

    player.on("resolutionchange", function() {
      if(player.currentResolution().label == "PATREONS") {
        checkPatreon();
      }
    })


  player.poster('https://angelthump.com/assets/default_offline.jpg');

  player.logobrand({
       image: "https://angelthump.com/assets/patreon.png",
       destination: "https://patreon.com/angelthump"});

  /*
    var requestTime = 1000;
    function retry() {
    setTimeout(function() {
        player.src(sources);

        if(requestTime < 16000) {
        requestTime = requestTime * 2;
        }
        
        if(running && player.readyState() == 0) {
          retry();
        }

    }, requestTime);
    }

    var running = false;*/


    player.on('error', function(e) {
    if (player.error().code == 2) {
        player.error(null);
      }
    })

    player.persistvolume({
       namespace: "YEE boi"
    });

    function connect() {
      socket = io(host,{ transports: ['websocket'] });
      socket.on('connect', function() {
          socket.emit('channel',channel);
      });
    }

    function checkPatreon() {
      var jwtToken = localStorage.getItem("feathers-jwt");
      if(jwtToken == null) {
        alert("Login to access this patreon server! Refresh after you login!");
        window.location = "https://angelthump.com/login.html";
      }

      // Set up Feathers client side
      var app = feathers()
        .configure(feathers.socketio(socket))
        .configure(feathers.hooks())
        .configure(feathers.authentication({ storage: window.localStorage }));

      // Authenticating using a token instead
      app.authenticate({
        type: 'token',
        'token': jwtToken
      }).then(user => {
        app.set('user', user);
        user = app.get('user');
        ifPatreon = user.data.patreon;
        if(!ifPatreon) {
          player.currentResolution("auto");
          alert("You are not a patreon. If you are, please PM Overpowered on the destiny.gg chat or pm me on Patreon");
        }
      }).then(function(result){
        console.log('Authenticated!', app.get('token'));
      }).catch(function(error){
        alert("Login to access this patreon server! Refresh after you login!");
        window.location = "https://angelthump.com/login.html";
        console.error('Error authenticating!', error);
      });

      // If the transport changes, you have to call authenticate() again.
      socket.io.engine.on('upgrade', function(transport) {
        console.log('transport changed');
        app.authenticate();
      });
    }
  </script>



</body>

</html>