<!DOCTYPE HTML>
<html>

<head>
    <link href="/css/video-js.min.css" rel="stylesheet">
    <link href="/css/videojs.logobrand.css" rel="stylesheet">
    <link href="/css/videojs-resolution-switcher.css" rel="stylesheet">
    <link href="/css/videojs-chromecast.css" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>
        AngelThump
    </title>

    <style type="text/css">
        html {
            margin: 0;
            padding: 0;
            background: #000000;
            overflow: hidden;
        }
        #player {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
        }
        .video-js.vjs-playing .vjs-tech {
            pointer-events: none;
        }
        .vjs-fullscreen.vjs-user-inactive {
            cursor: none;
        }
        .video-js .vjs-progress-control {
            visibility: hidden;
        }
        .video-js .vjs-remaining-time-display {
            visibility: hidden;
        }
    </style>

</head>

<body>

    <video id=player class="video-js vjs-default-skin" autoplay controls preload="auto">
    </video>
    <script src="/js/video.min.js"></script>
    <script src="/js/videojs-resolution-switcher.js"></script>
    <script src="/js/videojs5-hlsjs-source-handler.js"></script>
    <script src="/js/videojs.logobrand.js"></script>
    <script src="/js/videojs-persistvolume.js"></script>
    <script src="//www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1"></script>
    <script src="/js/videojs-chromecast.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.min.js"></script>
    <script type="text/javascript" src="//cdn.rawgit.com/feathersjs/feathers-client/v1.9.0/dist/feathers.js"></script>

    <script>
        var ifPatreon = false, channel = "<%= username %>", host = 'https://angelthump.com', socket;
        var sources = [{
            type: "application/x-mpegURL",
            src: "https://nyc-load.angelthump.com/hls/" + channel + ".m3u8",
            label: 'US-E'
        }, {
            type: "application/x-mpegURL",
            src: "https://ams-load.angelthump.com/hls/" + channel + ".m3u8",
            label: 'EU'
        }, {
            type: "application/x-mpegURL",
            src: "https://nyc-patreon.angelthump.com/hls/" + channel + ".m3u8",
            label: 'PATREONS'
        }, {
            type: "application/x-mpegURL",
            src: "https://cdn.angelthump.com/hls/" + channel + ".m3u8",
            label: 'auto'
        }, ];

        var options = {
            errorDisplay: false,
            html5: {
                hlsjsConfig: {
                    debug: false
                }
            },
            chromecast: {
                appId: "50E3A992",
                metadata: {
                    title: channel + "'s stream",
                    subtitle: "subtitle"
                }
            },
            plugins: {
                videoJsResolutionSwitcher: {
                    default: 'auto',
                    dynamicLabel: true
                }
            }
        };

        var player = videojs('player', options);
        player.updateSrc(sources);
        player.currentResolution("auto");
        connect();

        player.on("pause", function() {
            player.one("play", function() {
                player.updateSrc(sources);
            });
        });

        player.on("resolutionchange", function() {
            if (player.currentResolution().label == "PATREONS") {
                checkPatreon();
            }
        })


        player.poster('https://angelthump.com/assets/default_offline.jpg');

        player.logobrand({
            image: "https://angelthump.com/assets/patreon.png",
            destination: "https://patreon.com/angelthump"
        });


        var requestTime = 1000;

        function retry() {
            setTimeout(function() {
                player.src(sources);

                if (requestTime < 16000) {
                    requestTime = requestTime * 2;
                }

                if (running && player.readyState() == 0) {
                    retry();
                } else {
                    player.loadingSpinner.show();
                }

            }, requestTime);
        }

        var running = false;

        player.on('error', function(e) {
            if (player.error().code == 2) {
                player.loadingSpinner.hide();
                player.error(null);
                retry();
            }
        })

        player.persistvolume({
            namespace: "volume"
        });

        function connect() {
            socket = io(host, {
                transports: ['websocket']
            });
            socket.on('connect', function() {
                socket.emit('channel', channel);
            });
        }

        function checkPatreon() {
            var jwtToken = localStorage.getItem("feathers-jwt");
            if (jwtToken != null) {
                var app = feathers()
                    .configure(feathers.socketio(socket))
                    .configure(feathers.hooks())
                    .configure(feathers.authentication({
                        storage: window.localStorage
                    }));
                app.authenticate({
                    type: 'token',
                    'token': jwtToken
                }).then(user => {
                    app.set('user', user);
                    var user = app.get('user');
                    ifPatreon = user.data.patreon;
                    if (!ifPatreon) {
                        player.currentResolution("auto");
                        alert("You are not a patreon. If you are, please PM Overpowered on the destiny.gg chat or pm me on Patreon");
                    }
                }).then(function(result) {
                    console.log('Authenticated!');
                }).catch(function(error) {
                    alert("Login to access this patreon server! Refresh after you login!");
                    window.location = "https://angelthump.com/login.html";
                    console.error('Error authenticating!', error);
                });

                // If the transport changes, you have to call authenticate() again.
                socket.io.engine.on('upgrade', function(transport) {
                    console.log('transport changed');
                    app.authenticate();
                });
            } else {
                alert("Login @ AngelThump.com to access this patreon server!");
                player.currentResolution("auto");
            }
        }
    </script>
</body>
</html>