<title>Password Reset - AngelThump</title>
<link rel="stylesheet" href="/css/errors.css">
<link rel="prefetch" href="/assets/small_logo.png">
<link rel="stylesheet" href="/css/reset_page.css">
<div class="reset-page">
  <a href="/">
    <img src="/assets/small_logo.png" />
  </a>
  <div class="error" id="error" style="display: none">
  </div>
  <div class="form">
    <form class="reset-form" onsubmit="return false">
      <input id="password" type="password" name="password" placeholder="password"/>
      <button type="submit" id="reset">Change Password</button>
    </form>
  </div>
</div>

<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script src="//unpkg.com/@feathersjs/client@^3.0.0/dist/feathers.js"></script>
<script>
  const socket = io();
  const client = feathers();

  client.configure(feathers.socketio(socket));
  const authManagement = client.service('authManagement');
  var hash = "<%= hash %>";

  document.getElementById("reset").addEventListener("click", function(){
    authManagement.create({ action: 'resetPwdLong',
      value: {
        token: hash, // compares to .resetToken
        password: document.getElementById('password').value // new password
      },
    }).then(x => {
      //success
      localStorage.removeItem('feathers-jwt');
      window.location.href = '/login';
    }).catch(function(error){
      document.getElementById("error").setAttribute('style','text-align: center; display: block;');
      document.getElementById("error").innerHTML = error.message;
      console.log(error);
    });
  });
</script>